<% provide(:title, " | Home ") %>
<p class="rig"><%= link_to 'Add New Photos and Videos to Gallery', new_gallery_path if signed_in?%></p>
<h2 class="hero-unit">Photoligne is a professional Photo taking Service
 for Weddings, Special Events, in fact, we Do Any Event that is Too Good to Be Forgotten  </h2>
