<div class="row">
  <div class="span5 offset4">
<%= form_for([@port, @post], html: {multipart: true }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= render 'shared/field', f:f %>

    <%= f.submit %>
<% end %>
      </div>
    </div>
